<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.dictionary.dao.AddressCNMapper" >

    <insert id="insert" parameterType="com.ich.dictionary.pojo.AddressCN">
        INSERT INTO ich_dic_addresscn(id,name,letter,parentid,type,status,onum)
        VALUES(#{id},#{name},#{letter},#{parentid},#{type},0,#{onum})
    </insert>

    <update id="update" parameterType="com.ich.dictionary.pojo.AddressCN">
        UPDATE ich_dic_addresscn SET name = #{name},letter = #{letter},parentid = #{parentid},type = #{type},onum = #{onum}
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE ich_dic_addresscn SET status = #{status}
        WHERE id = #{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="Long" resultType="com.ich.dictionary.pojo.AddressCN">
        SELECT * FROM ich_dic_addresscn WHERE id = #{id}
    </select>

    <select id="selectAddressCNofType" parameterType="Integer" resultType="com.ich.dictionary.pojo.AddressCN">
        SELECT * FROM ich_dic_addresscn WHERE status = 1 AND type = #{type} ORDER BY onum DESC
    </select>

    <select id="selectAddressCNofPid" parameterType="Long" resultType="com.ich.dictionary.pojo.AddressCN">
        SELECT * FROM ich_dic_addresscn WHERE status = 1 AND parentid = #{pid} ORDER BY onum DESC
    </select>
</mapper>